.content-intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    width: calc(100% - 80px);
}

.title {
    line-height: 34px;
    padding: 2.75rem 0;
}

.roadmap-dates {
    display: flex;
    flex-direction: row;
}

.roadmap_block {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid rgba(229, 231, 235, 0.3);

}

.roadmap_block:first-child {
    padding-left: 0;
}

.roadmap_block:last-child {
    padding-right: 0;
    border-right: none;
}

.info-title {
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(156 163 175);
    margin-bottom: 5px;
}

.info-data {
    font-size: .9rem;
}

@media(max-width: 991px) {

    .content-intro__wrapper {
        width: auto;
    }

    .title {
        font-size: 1.2rem;
    }

    .roadmap-dates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        justify-content: center;
    }

    .roadmap_block {
        padding: 0;
        border: none;
    }
}