nav, a{
    color: white;
    text-decoration: none;
    list-style: none;
}
nav {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    top: -2vw;
    position: fixed;
    width: 100%;
    left: -1.4vw;
    z-index: 10;
}
nav,ul{
    display: flex;
    margin: 0px;
    align-items: center;
}
nav,li{
    margin: 1.4vw;
    display: flex;
    gap: 5vw;
    justify-content: space-around;
}

#matrix{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30vw;
    margin: -8px; 
    opacity: 0.9; 
    height: 110%
}

#algorithmsList{
    width: 60vw; 
    margin-top: 100px;
    margin-left: 7%;
}

#algorithmsList ol li{
    font-size: 2vh;
    font-weight: 600;
}

body{
    background-image: url('images/Green_rhombus_background.jpg');
    background-size: 100%;
    background-position: fixed;
}
h2:hover{
    animation-name: bounce;
    animation-timing-function: ease;
}
h2{
    color: white;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform-origin: bottom;
}
code{
    font-size: 1.4vw;
}

/* #background_rhombus{
    width: 69vw;
    position: fixed;
    z-index: -1;
} */

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

@media screen and (max-width: 550px) {
    #matrix{
        height:0px;
        width: 0px;
    }
    #algorithmsList{
        width: auto;
        margin-left: -8px;
    }
    code{
        font-size: 1.8vw;
    }

}