nav, a{
    color: white;
    text-decoration: none;
    list-style: none;
}
nav {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    top: -2vw;
    position: fixed;
    width: 95%;
    z-index: 10;
}
nav,ul{
    display: flex;
    margin: 0px;
    align-items: center;
}
nav,li{
    margin: 1.4vw;
    display: flex;
    gap: 5vw;
    justify-content: space-around;
}

#matrix{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30vw;
    margin: -8px; 
    opacity: 0.9; 
    height: 110%
}

#algorithmsList{
    width: 60vw; 
    margin-top: 100px;
}

#algorithmsList ol li{
    font-size: 2vh;
    font-weight: 600;
}

@media screen and (max-width: 550px) {
    #matrix{
        height:0px;
        width: 0px;
    }
    #algorithmsList{
        width: auto;
        margin-left: -8px;
    }
    

}