@media screen and (max-width: 414px){
   
    .text-box h1{
        font-size: 30px;
    }
    .navlinks ul li
    {
        display: block;
    }
    .roadmap p{
        font-size: 10px;
    }
    .navlinks{
        position: absolute;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
    }
    .row p{
        font-size: 10px;
    }
    .course-col p{
        font-size: 10px;
    }
    #roadmap p{
        font-size: 15px;
    }
    #roadmap strong{
        display: inline;
        font-size: 20px;
        margin-left: 100px;
    }   
    .backend p{
        font-size: 15px;
    }
    .backend h1{
        font-size: 30px;
    }
    #texter1{
        font-size: 5px;
    }
    body{
        word-wrap:break-word;
        font-size: 5px;
        overflow-x: hidden;
    }
    .section{
        overflow-x: hidden;
    }
    #roadmap img{
        width: 800px;
         display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .row{
        display:inline-grid;
    }

   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav, a{
    color: white;
    text-decoration: none;
    list-style: none;
}

nav {
    margin: 0px;
    height: 50px;
    padding: 0px;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
    top: 0px;
    position: fixed;
    z-index: 10;
}
nav,ul{
    display: flex;
    margin: 0px;
    align-items: center;
}

nav,li{

    display: flex;
    gap: 5vw;
    justify-content:space-around;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  border-top: 5px solid #fff;
  background: #e9e9e9;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
.header{
    min-height: 100vh;
   
    width: 100%;
    background-image:url("images/cover.jpg");
    background-position:center;
    background-size:cover;
}
.wrapper{
    width: 100%;
}
.carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card{
    color:#000;
    text-align: center;
    margin:  20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    box-shadow:0px 4px 15px rgba(0, 0, );
}
.text-box{
    width: 90%;
    color:#FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.text-box p{
    margin:10px 0 40px;
    font-size: 20px;
    color:white;    
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.link{
    display: inline-block;
    text-decoration: none;
    color:#FFF;
    width: 350px;
    max-height: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 18px;
    background:transparent;
    position: relative;
    cursor: pointer;
}
.link:hover{
    border:1px solid #f44336;
    background:#f44336;
    transition: 1s;
}
.backend{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    color:black;
}
.backend h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.backend h1:hover{
    color:#f44336;
    text-shadow: 1px 1px 2px black;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    color:#fff;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;   
}
.row{
    margin-top: 5px;
    display: inline-grid;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.7s;
}
.course-col p{
    color: black;
}
h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.course-col:hover{
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2)
}
.campus{
    width: 80;
    margin: auto;
    border:1px solid black;
    text-align: center;
    padding-top: 50px;
}
.lang{
    flex-basis:32%;
    border-radius:10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.lang:hover{
    background-color:rgb(55, 141, 175);
}
.lang img{
    width: 70%;
}
.row p{
    letter-spacing: 1px;
}
.layer{
  
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.roadmap{
    width: 100%;
}

.roadmap  h2{
    font-size: 2rem;
    padding-left: 100px;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color:black !important;
}

.roadmap p{
    color:black;
    font-size: 25px;
    padding-left: 100px;

}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background:black;
    color:#efefef;
    display: flex;
    justify-content: space-between;
    position:relative;
}
.footer div{
    text-align: center;
}
.footer h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.one a{
    display: block;
    text-decoration: none;
    color:#efefef;
    margin-bottom: 10px;
} 
form input{
    width: 40vw;
    height: 45px;
    border-radius:5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border:none;
}
form button{
    background: transparent;
    border:2px solid white;
    color:white;
    border-radius:15px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.icons i{
    display: block;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    max-width: 100px;
}
.roadmap p,h2,h3{
    letter-spacing: 1px;
}


.mainDes{
    text-align: center;
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mainDes h1{
    letter-spacing: 1px;
}