body{
    background-color:cornflowerblue;
}
.Introduction{
    font-size: 1.4vw;
}
.Intro1{
    font-size: 4vw;
    margin-left: 10vw;
}
.DT_V, .Operators, .About, .Arrays{
    font-size: 2vw;
}
.DT_V_Head{
    font-size: 4vw;
    text-align: center;
}
.Introimg{
    width: 46vw; 
    height: 30vw; 
    margin: auto; 
    margin-top: 10vw;
}
.IDEC{
    align-self: center;
    width: 100%;
}
.OperatorsP{
    width: 50%; 
    float: left;
}
@media screen and (max-width: 610px) {
    .About{
        font-size: 5vw;
    }
    .Intro1{
        font-weight: 700;
        font-size: 5vw;
    }
    .Introduction{
        font-size: 4vw;
        text-align: center;
        margin-left: -5vw;
    }
    .DT_Li{
        font-size: 4vw;
    }
    .DT_V, strong{
        font-size: 3vw;
    }
    .DT_V_Head{
        font-weight: 700;
    }
    .Introimg{
        width: 100%;
        height: 100%;
    }
    .Operators p{
        font-weight: 500;
        font-size: 4vw;
        float: none;
        width: 100%;
    }
    .Operators ol{
        margin-left: -10%;
        font-size: 4vw;
    }
}