::-webkit-scrollbar { width: 0;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui;
}
nav, a{
    color: white;
    text-decoration: none;
    list-style: none;
}
nav {
    margin: 0px;
    height: 50px;
    width: 100%;
    padding: 0px;
    max-height: 80px;
    overflow: hidden;
    background-color: black;
    top: 0px;
    position: fixed;
    z-index: 10;
}
nav,ul{
    display: flex;
    margin: 0;
    align-items: center;
}
nav,li{
    display: flex;
    gap: 5vw;
    justify-content: space-around;
}
