body {
  font-family: system-ui;
    background: white;
    color: white;
}
nav{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
}
nav a{
  color:white;
  font-size: 15px;
}
  
nav,ul {
    display: flex;
    /*   padding:1em; */
    margin: 0px;
    align-items: center;
  }
nav,li {
    list-style-type: none;
    margin: 1em;
    /*   margin-left:1em; */
    display: flex;
    gap: 10em;
    justify-content: space-around;
}
body{
  margin: 0;
}
.banner{
  width: -1%;
  height: 250px;
  background-color:black;
}
.banner-text{
    padding: 28px 0px 44px;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}
.description{
  color:white;
  text-align: center;
  font-style: normal;
}
.photo img{
  float: left;
  margin-left: -4%;
  margin-top: -2%;
}
.single_page{
  width: 800px;
  margin: auto;

}
.question{
  color:black;
  text-align: center;
}


