body {

    font-family: system-ui;
    background: #338afb;
    color: white;
}
nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
}
.menu a{
    color:white;
    font-size: 15px;
}

nav,ul {
    display: flex;
    margin: 0;
    align-items: center;
}
.menu, li {
    list-style-type: none;
    margin: 1em;
    display: flex;
    gap: 10em;
    justify-content: space-around;
}
body{
    margin: 0;
    }

.container-1{
    font-size: 25px;
    text-align: center;
}

.container-1 p{
    border-radius: 50px;
    background-color: cadetblue;
    font-size: 1.3vw;
}

.container-2 li{
    text-decoration: solid white;
}
.container-2{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 100px;
}

.container-2  ul{
    display: inline;
}

.plus, .minus{
    width: 45%;
    border-radius: 50px;
}

.plus li, .minus li{
    font-size: 2vw;
}

.plus{
    background-color: #11ff00;
}

.minus{
    background-color: #ff1100;
}

.pl, .mi{
    display: none;
}

.container-2 .minus ul{
    display: inline;
}

.container-3{
    display: flex;
    flex-wrap: wrap;
}

.info{
    margin-left: 60px;
    width: 50%;
    font-size: 40px;
}

.info a{
    text-decoration: none;
    color: #fff3f3;
}

.info a:hover{
    transition-duration: 0.3s;
    color: blue;
}

.idepy{
    width: 45vw;
    border-radius: 50px;
    padding-bottom: 50px;
}

.ide{
    height: 700px
}

.roadmap{
    text-align: center  ;
}

.per-info{
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.card {
    margin: auto;
    color: #413E3B;
    background-color: #fff3f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 300px;
    text-align: center;
    border-radius: 25px;
}

.card:hover {
    color: #fff3f3;
    background-color: #413E3B;
    transition-duration: 0.5s;
}


.card1 {
    margin: auto;
    color: #413E3B;
    background-color: #fff3f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 200px;
    font-size: 1vw;
}

.card1:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.if-info{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.loop-info {
    text-align: center;
    font-size: 2vw;
}