body {

    font-family: system-ui;
    background: #338afb;
    color: white;
}
nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
}
.menu a{
    color:white;
    font-size: 15px;
}

nav,ul {
    display: flex;
    margin: 0;
    align-items: center;
}
.menu, li {
    list-style-type: none;
    margin: 1em;
    display: flex;
    gap: 10em;
    justify-content: space-around;
}
body{
    margin: 0;
    }

.container-1{
    font-size: 30px;
    text-align: center;
}

.container-2 li{
    text-decoration: solid white;
}
.container-2{
    display: flex;
    text-align: start;
}

.container-2 .plus ul{
    display: inline;
}

.container-2 .minus ul{
    display: inline;
}

.roadmap{
    text-align: center  ;
}