body {

    font-family: system-ui;
    background: #338afb;
    color: white;
}



.header{
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: -25px;
}


nav, a{
    color: white;
    text-decoration: none;
    list-style: none;
}

nav {
    height: 50px;
    padding: 0;
    font-size: 15px;
    margin: -10px 0 0 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
    top: 0;
    position: fixed;
    z-index: 10;
}
nav,ul{
    display: flex;
    margin: 0;
    align-items: center;
}

nav,li{

    display: flex;
    gap: 5vw;
    justify-content:space-around;
}
a:hover{
    color: aqua;
    transition-duration: 0.3s;
}

body{
    margin: 0;
    }

.container-1{
    font-size: 25px;
    text-align: center;
}

.container-1 p{
    border-radius: 50px;
    background-color: cadetblue;
    font-size: 1.3vw;
}

.container-2 li{
    text-decoration: solid white;
}
.container-2{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 100px;
}

.container-2  ul{
    display: inline;
}

.plus, .minus{
    width: 45%;
    border-radius: 50px;
}

.plus li, .minus li{
    font-size: 2vw;
}

.plus{
    background-color: #11ff00;
}

.minus{
    background-color: #ff1100;
}

.pl, .mi{
    display: none;
}

.container-2 .minus ul{
    display: inline;
}

.container-3{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 500px;
}

.info{
    margin-top: 15vw;
    font-size: 2vw;
    margin-left: 10vw;
}

.info a{
    text-decoration: none;
    color: #fff3f3;
}

.info a:hover{
    transition-duration: 0.3s;
    color: blue;
}

.idepy{
    width: 46vw;
    height: 30vw;
    margin: 10vw auto auto;
}

.ide{
    height: 700px
}

.roadmap{
    text-align: center  ;
}

.per-info{
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.card {
    margin: auto;
    color: #413E3B;
    background-color: #fff3f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 300px;
    text-align: center;
    border-radius: 25px;
}

.card:hover {
    color: #fff3f3;
    background-color: #413E3B;
    transition-duration: 0.5s;
}


.card1 {
    margin: auto;
    color: #413E3B;
    background-color: #fff3f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 200px;
    font-size: 1vw;
}

.card1:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.card1 h4{
    padding-top: 100px;
}
.if-info{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    justify-content: center;
}

.loop-info {
    text-align: center;
    font-size: 2vw;
}


@media screen and (max-width: 550px) {
    .card1{
        justify-content: center;
    }
    #info{
        font-size: 25vw;
        margin: auto;
    }
    .if-info{
        display: none;
        padding-bottom: 100px;
    }
    .container-3{
        font-size: 4vw;
        text-align: center;
        margin-left: -5vw;
    }
    .info{
        font-weight: 700;
        font-size: 5vw;
    }
    .idepy{
        width: 100%;
        height: 100%;
    }
    #elif{

        width: 100% ;
    }

}