::-webkit-scrollbar { width: 0;}
body{
    font-family: system-ui;
    background: #f18d1d;
}
nav, a{
    color: white;
    text-decoration: none;
    list-style: none;
}
nav {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    top: 0px;
    position: fixed;
    width: 95%;
    z-index: 10;
}
nav,ul{
    display: flex;
    margin: 0px;
    align-items: center;
}
nav,li{
    margin: 1.4vw;
    display: flex;
    gap: 5vw;
    justify-content: space-around;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7vw;
    margin-left: 1vw;
    margin-right: 1vw;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

body nav a:hover{
    color: #f18d1d;
    transition-duration: 0.3s;
}

.blocks:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}